<footer class="site-footer">
  <div class="site-footer__content wrapper u-footer-spacing">
    <img class="avatar-rounded" src="{{ '/images/avatar.jpg' | prepend: site.baseurl | prepend: site.url }}" title="Gonçalo Morais" alt="" loading="lazy">

    {% if site.github_username %}
      {% include icons/github.html username=site.github_username %}
    {% endif %}

    {% if site.mastodon_link %}
      {% include icons/mastodon.html link=site.mastodon_link %}
    {% endif %}

    {% if site.twitter_username %}
      {% include icons/twitter.html username=site.twitter_username %}
    {% endif %}

    {% include icons/rss.html %}

    <a href="https://notbyai.fyi/not-by-ai-90-rule" target="_blank" rel="noreferrer" class="not-by-ai">
      <picture>
        <source
          srcset="{{ '/images/notbyai/Authored-By-a-Human-Not-By-AI-Badge-white@2x.png' | prepend: site.baseurl }} 2x, {{ '/images/notbyai/Authored-By-a-Human-Not-By-AI-Badge-white.png' | prepend: site.baseurl }} 1x"
          type="image/png"
        >
        <img
          src="{{ '/images/notbyai/Authored-By-a-Human-Not-By-AI-Badge-white.png' | prepend: site.baseurl }}"
          alt="Authored by a human, not by AI"
          loading="lazy"
        >
      </picture>
    </a>
  </div>
</footer>
