/**
 * Layout
 */

body {
  margin: 0;
}

/** Page header */
.site-header {
  min-height: 20vmin;

  text-align: center;

  &::before {
    content: 'ç';
    font-size: 10em;
    font-family: monospace;
    opacity: .1;
    position: absolute;
    z-index: -1;
    top: -.9em;
    left: 50%;
    transform: translateX(-50%);
  }
}

/** Page content */
.page-content {
  min-height: 80vmin;
}

/** Page footer */
.site-footer {
  background: black; // Debug purposes
}

/** Content wrapping */
h1, h2, h3, h4, h5, h6,
p,
hr {
  @include content-wrap;
}
ul {
  @include content-wrap(40px);
}

/** Code-related blocks */
.highlight {
  margin: 0;

  pre {
    @include content-wrap;

    padding-top: $font-unit * .5;
    padding-bottom: $font-unit * .5;
  }
}

/** Paragraph text */
p {
  padding-top: $font-unit * .5;
  padding-bottom: $font-unit * .5;
}

/** Images */
img {
  max-width: 100%;
}

/** Horizontal break */
hr {
  border: none;
  margin-top: $font-unit * .5;
  margin-bottom: $font-unit * .5;
  text-align: center;

  &::before {
    content: '~';
    display: block;
  }
}

/** Lists */
ul {
  @include set-vertical-rhythm;
}


/** Quotations (long and short) */
blockquote {
  @include content-wrap(30px);
  @include set-vertical-rhythm;
}
