/**
 * Layout
 */

body {
  margin: 0;
}

/** Page header */
.site-header {
  min-height: 20vmin;
}

/** Page content */
.page-content {
  min-height: 80vmin;
}

/** Page footer */
.site-footer {
  background: black; // Debug purposes
}

/** Content wrapping */
h1, h2, h3, h4, h5, h6,
p,
ul {
  @include content-wrap;
}

/** Code-related blocks */
.highlight {
  margin: 0;

  pre {
    @include content-wrap;
  }
}

/** Images */
img {
  max-width: 100%;
}
