/**
 * Mixins
 */

@mixin content-wrap(
  $side-padding: $padding-unit-default,
  $max-width: $max-width-content
) {
  max-width: $max-width - ($side-padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: $side-padding;
  padding-right: $side-padding;
}

@mixin set-vertical-rhythm($top_or_sum: 1, $bottom: null) {
  @if ($bottom) {
    $top_or_sum: $font-unit * $top_or_sum;
    $bottom: $font-unit * $bottom;
  } @else {
    $top_or_sum: $font-unit * ($top_or_sum / 2);
    $bottom: $top_or_sum;
  }

  margin-top: $top_or_sum;
  margin-bottom: $bottom;
}


/**
 * Animations
 */

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
