/**
 * Utility classes
 */

.u-text-center {
  text-align: center;
}

.u-v-align-middle {
  vertical-align: middle;
}

.u-footer-spacing > * {
  padding: 5px;

  @media (min-width: 800px) {
    padding: 15px;
  }
}
